<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Cadastro de Posts</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen" />

    <script type="text/javascript">
	function ValidaCPF(){	
		var cpf=document.getElementById("cpf").value; 
		var cpfValido = /^(([0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2})|([0-9]{11}))$/;	 
		if (cpfValido.test(cpf) == true)	{ 
			console.log("CPF Válido");	
			document.getElementById("msgCPF").innerHTML="CPF Válido";	
		} else	{	 
			document.getElementById("msgCPF").innerHTML="<font color='red'>CPF Inválido</font>";		
		}
		if (cpf.length != 14 || 
			cpf == "000.000.000-00" || 
			cpf == "111.111.111-11" || 
			cpf == "222.222.222-22" || 
			cpf == "333.333.333-33" || 
			cpf == "444.444.444-44" || 
			cpf == "555.555.555-55" || 
			cpf == "666.666.666-66" || 
			cpf == "777.777.777-77" || 
			cpf == "888.888.888-88" || 
			cpf == "999.999.999-99"){
			document.getElementById("msgCPF").innerHTML="<font color='red'>CPF Inválido </font>";		
		}
	}
	function fMasc(objeto,mascara) {
	  obj=objeto
	  masc=mascara
	  setTimeout("fMascEx()",1)
	}

	function fMascEx() {
	  obj.value=masc(obj.value)
	}

	function mCPF(cpf){
	 cpf=cpf.replace(/\D/g,"")
	 cpf=cpf.replace(/(\d{3})(\d)/,"$1.$2")
	 cpf=cpf.replace(/(\d{3})(\d)/,"$1.$2")
	 cpf=cpf.replace(/(\d{3})(\d{1,2})$/,"$1-$2")
	return cpf
	}
	
	function validacaoEmail(field) {
	usuario = field.value.substring(0, field.value.indexOf("@"));
	dominio = field.value.substring(field.value.indexOf("@")+ 1, field.value.length);
	 
	if ((usuario.length >=1) &&
		(dominio.length >=3) && 
		(usuario.search("@")==-1) && 
		(dominio.search("@")==-1) &&
		(usuario.search(" ")==-1) && 
		(dominio.search(" ")==-1) &&
		(dominio.search(".")!=-1) &&      
		(dominio.indexOf(".") >=1)&& 
		(dominio.lastIndexOf(".") < dominio.length - 1)) {
		document.getElementById("msgemail").innerHTML="E-mail válido";
	}
		else{
			document.getElementById("msgemail").innerHTML="<font color='red'>E-mail inválido </font>";
		}
	}
	</script>
	
	
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Cadastro de Posts</strong>
		</div>
		<div class="panel-body">
			<form id="form" name="form" class="form-horizontal" th:object="${user}" th:action="@{/save}" method="POST" style="margin: 10px">
				<div class="form-group">
 					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div> 					
						<div class="form-group row">
						    <div class="col-md-2">
						        <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
						    </div>
						 </div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
							    <label>Nome</label>
							    <input type="text" class="form-control input-sm" th:field="*{name}" autofocus="autofocus" placeholder="Informe o nome"/>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('cpf')}? 'has-error'">
								<label>Cpf</label> 
								<input type="text" class="form-control input-sm" th:field="*{cpf}" maxlength="14" placeholder="Informe o cpf"
								id="cpf" name="cpf" onkeydown="javascript: fMasc( this, mCPF );" onblur="ValidaCPF()"/>
							</div>
							<div id="msgCPF"></div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
								<label>E-mail</label> 
								<input type="text" class="form-control input-sm" th:field="*{email}" maxlength="50" placeholder="Informe o email" onblur="validacaoEmail(form.email)"/>
							</div>
							<div id="msgemail"></div>
						</div>
						<div class="form-group row">
							<div class="col-md-2" th:classappend="${#fields.hasErrors('dataNascimento')}? 'has-error'">
								<label>Data Nascimento</label> 
								<input id="dateNascimento" name="dataNascimento" value="2020-06-04" type="date" class="form-control input-sm" th:field="*{dataNascimento}"/>
							</div>
						</div>						
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('naturalidade')}? 'has-error'">
								<label>Naturalidade</label>
								<select id="naturalidade" name="naturalidade" th:field="*{naturalidade}" class="form-control input-sm">
									<option value=""></option>
									<option value="scs">São Caetano do Sul</option>
									<option value="sa">Santo André</option>
									<option value="SBC">São Bernardo do Campo</option>
									<option value="Recife">Recife</option>
									<option value="Olinda">Olinda</option>
									<option value="Paulista">Paulista</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('nacionalidade')}? 'has-error'">
								<label>Nacionalidade</label>
								<select id="naturalidade" name="nacionalidade" th:field="*{nacionalidade}" class="form-control input-sm">
									<option value=""></option>
									<option value="EUA">EUA</option>
									<option value="CAN">Canadá</option>
									<option value="MEX">México</option>
									<option value="BRA">Brasil</option>
									<option value="CHI">Chile</option>
									<option value="URU">Uruguai</option>
									<option value="ARG">Argentina</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('sexo')}? 'has-error'">
								<label for="masculino">Masculino</label><br>
								<input type="radio" class="form-control input-sm" th:field="*{sexo}" id="masculino" name="sexo" value="masculino"/>
								<label for="masculino">Feminino</label><br>
								<input type="radio" class="form-control input-sm" th:field="*{sexo}" id="feminino" name="sexo" value="feminino"/>
								<label for="masculino">Outros</label><br>
								<input type="radio" class="form-control input-sm" th:field="*{sexo}" id="outros" name="sexo" value="outros"/>
							</div>
						</div>									
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
					<a th:href="@{/}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>